.section {
  padding-top: 15px;
  padding-bottom: 15px;
}

.bar{
  
  padding-left: 15px;
  position: relative;
  line-height: 30px;
  min-height: 30px;
  
}

.bar-background{
  line-height: 30px;
  min-height: 30px;
  content: '\A';
  background:#007bff33;
  position: absolute;
  top:0;
  bottom:0;
  left:0;
}

.subname {
  padding: 5px;
}

.bold {
  font-weight: bold;
}